@*@inject CounterState CounterState*@

@*<ContentView>
 <StackLayout>

        <StackLayout Margin="new Thickness(20)" Orientation="StackOrientation.Horizontal">
            <Label Text="@($"Count : {CounterState.CurrentCount}")" FontSize="10" HorizontalOptions="LayoutOptions.StartAndExpand"></Label>
            <Button Text="Increment" OnClick="@CounterState.IncrementCount" VerticalOptions="LayoutOptions.Center" Padding="10"></Button>
        </StackLayout>

    </StackLayout>
    

</ContentView>*@

<BlazorWebView VerticalOptions="LayoutOptions.FillAndExpand">
    <FirstBlazorHybridApp.WebUI.App />
</BlazorWebView>
@*
@code {
    protected override void OnInitialized()
    {
        CounterState.StateChanged += StateHasChanged;
    }

    public void Dispose()
    {
        CounterState.StateChanged -= StateHasChanged;
    }
}
*@
